@* @model IEnumerable<SwamiSamarthSyn8.Models.Uomtbl>
<table>
    <thead>
        <tr>
            <th>UOM</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach(var item in Model)
            {
                <td>@item.UnitOfMeasurement</td>
            }
           
        </tr>
    </tbody>
</table> *@